h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:3px solid #3484B1;
	margin-bottom:25px;
	}

#con{
position:relative;
height:56px;
color:#E0E0E0;
background:#143D55;
left:24.55%;

float:left;
width:50.95%;
font-family:Helvetica,Arial,Verdana,sans-serif;
}

#nav{
position:relative;
height:32px;
font-size:12px; 
text-transform:uppercase;
font-weight:bold;
background:#fff url(images/bg.gif) repeat-x bottom left;
padding:0 0 0 20px;
}

#nav ul{
margin:0;
padding:0;
list-style-type:none;
width:auto;
float:left;
}

#nav ul li{
display:block;
float:left;
margin:0 1px;
}

#nav ul li a{
display:block;
float:center;
color:#EAF3F8;
text-decoration:none;
padding:0 0 0 20px;
height:32px;
}

#nav ul li a span{
padding:12px 20px 0 0;
height:21px;
float:left;
}

#nav ul li a:hover{
color:#fff;
background:transparent url(images/bg_over.gif) repeat-x bottom left;
}

#nav ul li a:hover span{
display:block;
width:auto;
cursor:pointer;
}

#nav ul li a.current,#nav ul li a.current:hover{
color:#fff;
background:#1D6893 url(images/left_on.gif);
line-height:275%;
}

#nav ul li a.current span{
display:block;
padding:0 20px 0 0;
width:auto;
background:#1D6893 url(images/right_on.gif);
height:32px;
}
